<aside class="moc-bo-sidebar">

  <div class="moc-bo-logo">
    <span>MOC Beauty</span>
  </div>

  <nav class="moc-bo-nav">
    <a href="{% url 'moc_beauty:dashboard' %}">Dashboard</a>
    <a href="{% url 'moc_beauty:agenda' %}">Agenda</a>
    <a href="{% url 'moc_beauty:clientes_list' %}">Clientes</a>
    <a href="{% url 'moc_beauty:servicios_list' %}">Servicios</a>
    <a href="{% url 'moc_beauty:empleados_list' %}">Empleados</a>
    <a href="{% url 'moc_beauty:configuracion' %}">Configuración</a>
  </nav>

</aside>